{% extends "artgallery/base.html" %}
{% block content %}

<div style="text-align: center;">
        <span class="ref" style="color:navy">Customer! We Sri Art Gallery at Goldwins in Coimbatore, Tamil Nadu, have formed with the intention of expanding the market for new forms of art paintings that are produced cost-effectively to all our clientele. We have teamed up with leading artists having a steep inclination in art to do our best & serve eye-warming paintings to our valued customers spread throughout the world. Our customer’s growing faith and confidence in us is our most valued possession. </span>
</div>
{% endblock %}